
#contact-bg {
	position: relative;
	background-color: white;
	height: 700px;
	border-radius: 20px;
    min-width: 1297px;
    overflow:hidden;
    display:none;
    margin: 400px;
    align-self: center;
}

#my-pic {
	position: relative;
	top: 70px;
	height: 230px;
	border-radius: 5px;
	left: 125px;

}
.about {
	position: relative;
	left: 80px;
	top: 90px;
	font-weight: bold;
	font-family: 'Oswald', cursive;
	font-size: 20px;
	color: #656363;
	margin-right: 130px;
}


#contact-blurb {
	color: white;
	position: relative;
	font-family: 'Oswald', cursive;
	font-size: 20px;
	margin-left: 70px;
	margin-right: 70px;
	top: 50px;
	font-weight: bold;
	text-align: center;
}

#contact-title {
	position: relative;
	top: 20px;
	color: white;
	position: relative;
	font-family: 'Lobster', cursive;
	font-size: 80px;
	text-align: center;
}
#div-line {
	height: 5px;
	width: 400px;
	background-color: white;
	border-radius: 5px;
	position: absolute;
	left: 18%;
}
#linkedin-href {
	color: white;
}


.contact-list {
    list-style-type: none;
    position: relative;
    left: 30px;
}
.con-icon {
	height: 40px;
}

.c-t-1 {
	color: white;
	position: relative;
	font-family: 'Arial';
	font-size: 19px;
	font-weight: bold;	
	left: 20px;
	top: 20px;
}
.c-t-2 {
	color: white;
	position: relative;
	font-family: 'Arial';
	font-size: 15px;
	right: 50px;
	top: 50px;
	font-weight: bold;
}

#message-me-title {
	position: relative;
	top: 60px;
	color: #656363;
	position: relative;
	font-family: 'Lobster', cursive;
	font-size: 45px;
	text-align: center;	
}
 


/*@media (max-height: 1080px) and (max-width: 1680px) {
	#contact-bg {
	    min-width: 1100px;
	}  
	#div-line {
		left: 19%;
		width: 350px;
	}
	#my-pic {
		left: 85px;
	}
	.about {
		left: 65px;
		margin-right: 130px;
	}
}
@media (max-height: 1080px) and (max-width: 1440px) {
	#contact-bg {
	    min-width: 900px;
	}  
	#div-line {
		left: 20%;
		top: 330px;
		width: 300px;
	}
	#contact-blurb {
		margin-right: 50px;
		margin-left: 50px;
	}
	#my-pic {
		left: 45px;
	}
	.about {
		font-size: 15px;
	}

}
@media (max-height: 1080px) and (max-width: 1100px) {
	#contact-bg {
	    min-width: 600px;
	}  
	.question {
		bottom: -10px;
	}
	#my-pic {
		left: 35px;
		height: 180px;
	}
	#div-line {
		visibility: hidden;
	}
	#contact-title {
		font-size: 60px;
	}
	#message-me-title {
		font-size: 30px;
		right: 10px;
	}	
	#contact-blurb {
		margin-right: 50px;
		margin-left: 50px;
	}
	.contact-list {
		position: relative;
		bottom: 30px;
	}
}
@media (max-height: 1080px) and (max-width: 950px) {
	body {
		overflow: none;
	}
	#my-pic {
		left: 75px;
	}
	#contact-bg {
	    min-width: 100%;
	}  
	.code-list {
		left: 30%;
	}
	.container-1 {
	  display: flex;
	  flex-wrap: wrap;
	  visibility: hidden;
	}
	.email-form {
		bottom: -10px;
	}

}
@media (max-height: 795px) and (max-width: 1600px) {
	.contact-bg {
      min-width: 1100px;
    }
*/