.portfolio-piece-1 {
	cursor: pointer;
	border-style: solid;
	border-width: 14px;
	border-color: white;
	position: relative;
	margin: 10px;
	height: 500px;
	width: 500px;
	border-radius: 5px;
	transform: scale(.75);
	background: url(../images/getitdone.png); 
	display: inline-block;
}
.portfolio-piece-1:hover {
	background: url(../images/ezgif.com-video-to-gif.gif); 
}
.block {
	cursor: pointer;
	border-style: solid;
	border-width: 14px;
	border-color: white;
	position: relative;
	margin: 10px;
	height: 400px;
	width: 400px;
	border-radius: 5px;
}
.portfolio-piece-2 {
	cursor: pointer;
	border-style: solid;
	border-width: 14px;
	border-color: white;
	background-color: white;
	position: relative;
	margin: 10px;
	height: 500px;
	width: 500px;
	border-radius: 5px;
	transform: scale(.75);
	background: url(../images/thedispatch.png); 
	display: inline-block;
}
.portfolio-piece-2:hover {
	background: url(../images/dispatch-gif.gif); 
}
.portfolio-piece-3 {
	cursor: pointer;
	border-style: solid;
	border-width: 14px;
	border-color: white;
	background-color: white;
	position: relative;
	margin: 10px;
	height: 500px;
	width: 500px;
	border-radius: 5px;
	transform: scale(.75);
	display: inline-block;
}
.pp-blurb-1 {
	display: none;
	/*visibility: hidden;*/
	font-weight: bold;
	border-style: solid;
	border-width: 14px;
	border-color: white;
	background-color: white;
	position: relative;
	margin: 10px;
	height: 120px;
	width: 500px;
	border-radius: 5px;
}
.pp-blurb-2 {
	display: none;
	/*visibility: hidden;*/
	font-weight: bold;
	border-style: solid;
	border-width: 14px;
	border-color: white;
	background-color: white;
	position: relative;
	margin: 10px;
	height: 120px;
	width: 500px;
	border-radius: 5px;
}
.portfolio {
	display:none;
	right: -20px;
}

.portfolio-piece-1, .portfolio-piece-2, .portfolio-piece-3 {
    transform: scale(.70);
    position: relative;
    right: -20px;
    bottom: 50px;
}

a *,
a *:before,
a *:after {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}
