html, body {margin: 0; height: 100%; overflow: hidden}

#skills-bg {
	display: none;
	position: relative;
	background-color: white;
	height: 700px;
	border-radius: 20px;
    min-width: 1297px;
    overflow: hidden;
    margin: 1000px;
    align-self: center;
    width: 50%;
}

#skills-left-bg {
	background-color: #2e8cab;
	height: 700px;
	border-radius: 20px;
}
#skills-right-bg-1 {
	position: relative;
	top: 25px;
}


#mySkills-title {
	color: white;
	position: relative;
	font-family: 'Lobster', cursive;
	font-size: 80px;
	left: 20px;
  z-indexwebkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#mySkills-blurb {
	color: white;
	position: relative;
	font-family: 'Oswald', cursive;
	font-size: 25px;
	left: 40px;
	bottom: 580px;
  z-indexwebkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#design-icon {
	position: relative;
	height: 110px;
	top: 30px;
	left: 30px;
}

#code-icon {
	position: relative;
	height: 110px;
	top: 30px;
	left: 25px;	
}

#design-bubble {
	position: relative;
	left: 100px;
	background-color: #c3c3c387;
	height: 170px;
	width: 170px;
	border-radius: 100px;
	/*opacity: .2;*/
}

#code-bubble {
	position: relative;
	float: right;
	background-color: #c3c3c387;
	height: 170px;
	width: 170px;
	top: 120px;
	right: 100px;
	border-radius: 100px;
	/*opacity: .2;*/	
}

#design-title {
	color: white;
	position: relative;
	font-family: 'Oswald', cursive;
	font-size: 40px;
	left: 133px;
	bottom: 30px;
	font-weight: bold;
  z-indexwebkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

}

#code-title {
	color: #2e8cab;
	position: relative;
	top: 30px;
	left: 35px;
	font-family: 'Oswald', cursive;
	font-size: 40px;
	font-weight: bold;
  z-indexwebkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.design-list {
	color: white;
	position: relative;
	font-family: 'Oswald', cursive;
	font-size: 25px;
	font-weight: bold;	
	left: 100px;
}

.code-list {
	color: #2e8cab;
	position: relative;
	top: 330px;
	left: 360px;
	font-family: 'Oswald', cursive;
	font-size: 25px;
	font-weight: bold;	
}

/*.code-list:hover {
	position: relative;
	bottom: 5px;
}*/
#gears-gif {
	position: relative;
	height: 200px;
	left: 690px;
	bottom: 665px;
	opacity: .8;
  z-indexwebkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#skills-image {
	position: relative;
	height: 500px;
	left: 310px;
	bottom: 720px;
	opacity: .8;
  z-indexwebkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
