html, body {margin: 0; height: 100%; overflow: hidden}

#skills-bg {
	display: hidden;
	position: relative;
	background-color: white;
	height: 700px;
	top: 120px;
	border-radius: 20px;
    min-width: 1297px;
    overflow: hidden;
    margin-right: 20px;
}

#skills-left-bg {
	background-color: #2e8cab;
	height: 700px;
	border-radius: 20px;
}
#skills-right-bg-1 {
	position: relative;
	top: 25px;
}


#mySkills-title {
	color: white;
	position: relative;
	font-family: 'Lobster', cursive;
	font-size: 80px;
	left: 20px;
  z-indexwebkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#mySkills-blurb {
	color: white;
	position: relative;
	font-family: 'Oswald', cursive;
	font-size: 25px;
	left: 40px;
	bottom: 580px;
  z-indexwebkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#design-icon {
	position: relative;
	height: 110px;
	top: 30px;
	left: 30px;
}

#code-icon {
	position: relative;
	height: 110px;
	top: 30px;
	left: 25px;	
}

#design-bubble {
	position: relative;
	left: 100px;
	background-color: #c3c3c387;
	height: 170px;
	width: 170px;
	border-radius: 100px;
	/*opacity: .2;*/
}

#code-bubble {
	position: relative;
	float: right;
	background-color: #c3c3c387;
	height: 170px;
	width: 170px;
	top: 120px;
	right: 100px;
	border-radius: 100px;
	/*opacity: .2;*/	
}

#design-title {
	color: white;
	position: relative;
	font-family: 'Oswald', cursive;
	font-size: 40px;
	left: 133px;
	bottom: 30px;
	font-weight: bold;
  z-indexwebkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

}

#code-title {
	color: #2e8cab;
	position: relative;
	top: 30px;
	left: 35px;
	font-family: 'Oswald', cursive;
	font-size: 40px;
	font-weight: bold;
  z-indexwebkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.design-list {
	color: white;
	position: relative;
	font-family: 'Oswald', cursive;
	font-size: 25px;
	font-weight: bold;	
	left: 100px;
}

.code-list {
	color: #2e8cab;
	position: relative;
	top: 330px;
	left: 360px;
	font-family: 'Oswald', cursive;
	font-size: 25px;
	font-weight: bold;	
}

/*.code-list:hover {
	position: relative;
	bottom: 5px;
}*/
#gears-gif {
	position: relative;
	height: 200px;
	left: 690px;
	bottom: 665px;
	opacity: .8;
  z-indexwebkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#skills-image {
	position: relative;
	height: 500px;
	left: 309px;
	bottom: 720px;
	opacity: .8;
  z-indexwebkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@media screen and (max-width: 1680px) {
	#skills-bg {
	    min-width: 1100px;
	}  
	#gears-gif {
		height: 200px;
		bottom: 575px;
		left: 580px;
	}
	#skills-image {
		height: 400px;
		left: 279px;
		bottom: 623px;
	}
	.code-list {
		left: 270px;
	}
}
@media screen and (max-width: 1440px) {
	#skills-bg {
	    min-width: 600px;
	}  
	#gears-gif {
		height: 200px;
		bottom: 515px;
		left: 420px;
	}
	#skills-image {
		height: 340px;
		left: 204px;
		bottom: 556px;
		transform: scaleX(.7);
	}
	.code-list {
		left: 155px;
	}
	#mySkills-blurb {
		font-size: 20px;
	}
}
@media screen and (max-width: 1100px) {
	#skills-bg {
	    min-width: 600px;
	}  
	#gears-gif {
		height: 60px;
		visibility: hidden;
	}
	#skills-image {
		visibility: hidden;
	}
	.code-list {
		left: 80px;
	}
}
@media screen and (max-width: 950px) {
	#skills-bg {
	    min-width: 100%;
	}  
	#gears-gif {
		height: 60px;
		visibility: hidden;
	}
	#skills-image {
		visibility: hidden;
	}
	.code-list {
		right: 200px;
	}
}

@media (max-height: 860px) {
	.contact {
		transform: scale(.85);
		position: relative;
		bottom: 0%;
	}
	.skills {
		transform: scale(.85);
		position: relative;
		bottom: 0%;
	}
}

@media (max-height: 750px) {
	.contact {
		transform: scale(.75);
		position: relative;
		bottom: 13%;
	}	
	.skills {
		transform: scale(.75);
		position: relative;
		bottom: 13%;
	}	
}
@media (max-width: 1200px) and (max-height: 650px) {
	.contact {
		transform: scale(.65);
		position: relative;
		bottom: 18%;
	}	
	.skills {
		transform: scale(.65);
		position: relative;
		bottom: 18%;
	}		
}
