
body {
	background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
br { 
  line-height: 150%;
 }
.container-1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;

}
.box-1 {
  flex: 1;
  order: 1;
  margin-bottom: 245%;
}
.box-2 {
  position: relative;
  top: 20px;
  flex: 1;
  order: 1;
  margin-bottom: 275%;
  margin-left: 30%;
}
.box-3 {
  flex: 1;
  order: 1;
  padding-bottom: 100%;
  margin-left: 45%;
}
.bigM {
    position: fixed;
    width: 759px;
    height: 388px;
    left: 34%;
    bottom: 52%;
    transform: scale(.6);
    transform: skewY(30deg);
    background-repeat:no-repeat;
    animation: bigM .5s steps(21);
    background: url(../images/M-logo-1.png) 0 -8410px no-repeat; 
}
@keyframes bigM {
  0% { 
    background-position: 0 0;
  }

  100% {
    background-position: 0 -8410;
  }
}
#mButton {
  position: fixed;
  cursor: pointer;
  background: url(../images/M-logo-1.png) 0 -8410px no-repeat;
  background-repeat:no-repeat;
  width: 759px;
  height: 388px;
  transform: scale(.11);
  left: -342px;
  top: -110px;
 }
 #mButton:hover{
    float: right;
    position: fixed;
    width: 759px;
    height: 388px;
    right: 27px;
    transform: scale(.11);
    background-repeat:no-repeat;
    animation: mButton .5s steps(21);
    background: url(../images/M-logo-1.png) 0 -8410px no-repeat;
    transition-duration: 5s;
  }
@keyframes mButton {
  0% { 
    background-position: 0 0;
  }

  100% {
    background-position: 0 -8410;
  }
}

#homeButton {
  position: fixed;
  width: 1000px;
  height: 394px;
  transform: scale(.11);
  left: -439px;
  top: 120px;
  cursor: pointer;
  background: url(../images/home-icon-1.png) 0 -7200px no-repeat;
  background-repeat:no-repeat;
}
 #homeButton:hover{
    position: fixed;
    width: 1000px;
    height: 394px;    
    transform: scale(.11);
    left: -439px;
    top: 120px;
    background-repeat:no-repeat;
    background-size:contain;
    animation: homeButton .5s steps(18);
    background: url(../images/home-icon-1.png) 0 -7200px no-repeat;
  }
@keyframes homeButton {
  0% { 
    background-position: 0 0;
  }

  100% {
    background-position: 0 -7200;
  }
}

#skillsButton {
  position: fixed;
  width: 1025px;
  height: 380px;
  transform: scale(.11);
  left: -454px;
  top: 199px;
  cursor: pointer;
  background: url(../images/code-icon-1.png) 0 -6800px no-repeat;
  background-repeat:no-repeat;
}
#skillsButton:hover{
    position: fixed;
    width: 1025px;
    height: 380px;
    transform: scale(.11);
    left: -454px;
    top: 199px;
    background-repeat:no-repeat;
    background-size:contain;
    animation: skillsButton .5s steps(17);
    background: url(../images/code-icon-1.png) 0 -6800px no-repeat;
  }
@keyframes skillsButton {
  0% { 
    background-position: 0 0;
  }

  100% {
    background-position: 0 -6795;
  }
}

#portfolioButton {
  position: fixed;  
  width: 1200px;
  height: 390px;
  transform: scale(.09);
  left: -537px;
  top: 263px;
  cursor: pointer;
  background: url(../images/portfolio-icon-1.png) 0 -12807px no-repeat;
  background-repeat:no-repeat;
}
#portfolioButton:hover{
    position: fixed;
    width: 1200px;
    height: 390px;
    transform: scale(.09);
    left: -537px;
    top: 263px;
    background-repeat:no-repeat;
    background-size:contain;
    animation: portfolioButton .5s steps(32);
    background: url(../images/portfolio-icon-1.png) 0 -12807px no-repeat;
  }
@keyframes portfolioButton {
  0% { 
    background-position: 0 0;
  }

  100% {
    background-position: 0 -12807;
  }
}

#contactButton {
  position: fixed;
  width: 800px;
  height: 390px;
  transform: scale(.09);
  left: -355px;
  top: 337px;
  cursor: pointer;
  background: url(../images/contact-icon-1.png) 0 -8013px no-repeat;
  background-repeat:no-repeat;
}
#contactButton:hover {
    position: fixed;
    width: 800px;
    height: 390px;
    transform: scale(.09);
    left: -355px;
    top: 337px;
    background-repeat:no-repeat;
    background-size:contain;
    animation: contactButton .5s steps(20);
    background: url(../images/contact-icon-1.png) 0 -8013px no-repeat;
  }
@keyframes contactButton {
  0% { 
    background-position: 0 0;
  }

  100% {
    background-position: 0 -8013;
  }
}

#resumeButton {
  position: relative;
  cursor: pointer;
  background-image: url('../images/resume.png');
  background-repeat:no-repeat;
  background-size:contain;
  height:35px;
  margin-bottom: 14px;
  left: 2px;
/*  transition: all .1s ease 0s;*/  
}
#resumeButton:hover {
  position: relative;
  bottom: 3px;
}
#youtubeButton:active {
  position: relative;
  bottom:1px;
}
#linkedInButton {
  cursor: pointer;
  background-image: url('../images/linkedin-button.png');
  background-repeat:no-repeat;
  background-size:contain;
  height:35px; 
  margin-bottom: 10px;
}
#linkedInButton:hover {
  position: relative;
  bottom:3px;
}
#linkedInButton:active {
  position: relative;
  top:1px;
}
#gitButton {
  cursor: pointer;
  background-image: url('../images/github-logo.png');
  background-repeat:no-repeat;
  background-size:contain;
  height:35px;
}
#gitButton:hover {
  position: relative;
  bottom:3px;
}
#gitButton:active {
  position: relative;
  top:1px;
}

.container {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
}

#myNav {
  height: 100%; 
  width: 90px; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  right: 0;
  padding-top: 60px;
  transition: 0.5s; 
/*  box-shadow: 0px 10px 40px;*/
  animation-duration: 2s;
  margin-right: 12px;
}

#name {
  position: ; 
}

#name-tag {
  position: relative;
  right: 45px;
	width: 900px;
	height: 406px;
	background: url(../images/mnt-name-tag-sprite1.png) 0 -20705px no-repeat;
	background-size: 100%;
	animation: write 2s steps(51);
	transform: scale(.6);
}
@keyframes write {
  0% { 
    background-position: 0 0;
  }

  100% {
    background-position: 0 -20705px;
  }
}
#webdev-tag {
  position: relative;
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 34px;
  text-align: center;
  bottom: 130px;
  right: 20px;
}
#circa-text {
  position: relative;
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 24px;
  top: 245px;
  left: 240px;
}
#date-text {
  position: relative;
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 24px;
  top: 249px;
  right: 255px;
}

#emblem-center {
  overflow:  hidden;
  position: relative;
  min-width: 600px;
  transform: scale(1.3);
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    align-self: center;
    top: -30px;  
    left: 80px;    
}
.htmlOpenTag {
  position: relative;
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 18px;
  left: 50px;
  opacity: .8;
}
.htmlCloseTag {
  position: relative;
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 18px;
  left: 50px;
  top: 450px;
  opacity: .8;
}

.bodyOpenTag {
  position: relative;
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 18px;
  left: 50px;
  top: 100px;
  opacity: .8;
}
.bodyCloseTag {
  position: relative;
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 18px;
  left: 50px;
  top: 350px;
  opacity: .8;  
}

#myBackground {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: saturate(1.9);
    animation: fadeIn 4s alternate;
    z-index: -1;
}

.move-right {
    position: relative;
    left: 55px;
}
.tooltip {
  font: 10px;
}
/*Codepen Link: https://codepen.io/tutsplus/pen/WROvdG/*/
/* START TOOLTIP STYLES */
[tooltip] {
  position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
  content: attr(tooltip); /* magic! */
  
  /* most of the rest of this is opinion */
  font-family: Helvetica, sans-serif;
  text-align: center;
  
  /* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
  width:100%;
  height:30px;
  top: 100;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}
[tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
  width: auto;
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
}

/* FLOW: LEFT */
[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}
[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}
[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */ 
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}




    /* nav screen size adjustment */
@media screen and (max-height: 884px) {
    #myNav {
      zoom: 90%;
    }
}
@media screen and (max-height: 795px) {
    #myNav {
      zoom: 80%;
    }    
}
@media screen and (max-height: 710px) {
    #myNav {
      zoom: 70%;
    }    
}

    /* baackground video size adjustment */
/*@media (min-height: 884px) and (max-width: 1650px) {
     #myBackground {
      max-width: 1650px;
    }
}
@media (max-height: 795px) and (max-width: 1470px) {
     #myBackground {
      max-width: 1470px;
    }
}
@media (max-height: 710px) and (max-width: 1200px) {
     #myBackground {
      max-width: 1200px;
    }
}
*/
    /* modals screen size adjustment */
@media screen and (max-width: 1700px) {
    .skills, .contact {
      transform: scale(0.85);
    }
    #emblem-center {
      transform: scale(1.25);
    }
    .portfolio-piece-1, .portfolio-piece-2, .portfolio-piece-3 {
      zoom: 90%;
    }  
}

@media screen and (max-width: 1600px) {
    .skills, .contact {
      transform: scale(0.8);
    }
    .portfolio-piece-1, .portfolio-piece-2, .portfolio-piece-3 {
      zoom: 80%;
    } 
    #emblem-center {
      transform: scale(1.2);
    }    

}

@media screen and (max-width: 1500px) {
    .skills, .contact {
      transform: scale(0.75);
    }
    .portfolio-piece-1, .portfolio-piece-2, .portfolio-piece-3 {
      zoom: 75%;
    } 
    [tooltip]::after {
      zoom: 75%;
    }     
    #emblem-center {
      transform: scale(1.1);
    }     
}

@media screen and (max-width: 1400px) {
    .skills, .contact {
      transform: scale(0.7);
    }
    .portfolio-piece-1, .portfolio-piece-2, .portfolio-piece-3 {
      zoom: 70%;
    }
    [tooltip]::after {
      zoom: 70%;
    }      
    #emblem-center {
      transform: scale(1.0);
    }    
}

@media screen and (max-width: 1200px) {
    .skills, .contact {
      transform: scale(0.6);
    }
    .portfolio-piece-1, .portfolio-piece-2, .portfolio-piece-3 {
      zoom: 60%;
    }   
    #emblem-center {
      transform: scale(.9);
    }

}

@media screen and (max-width: 1000px) {
    .skills, .contact {
      transform: scale(0.5);
    }
    .portfolio-piece-1, .portfolio-piece-2, .portfolio-piece-3 {
      zoom: 50%;
    } 
    [tooltip]::after {
      zoom: 50%;
    }     
    #emblem-center {
      transform: scale(0.8);
    }     
}

@media screen and (max-width: 800px) {
    .skills, .contact {
      transform: scale(0.4);
    }
    .portfolio-piece-1, .portfolio-piece-2, .portfolio-piece-3 {
      zoom: 40%;
    }     
    #emblem-center {
      transform: scale(0.7);
    }     
}